In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/population-2022/population.csv

In [2]:
data_base = pd.read_csv('/kaggle/input/population-2022/population.csv')
data_base

,Unnamed: 0,Continent,Country,Year,Population,Yearly%Change,YearlyChange,Migrants(net),MedianAge,FertilityRate,UrbanPop%,UrbanPopulation,Country%OfWorldPop,GlobalRank
0,0,Asia,Afghanistan,1955,8270991,1.30,103775,-4000,19.2,7.45,7.1,587818,0.30,48
1,1,Asia,Afghanistan,1960,8996973,1.70,145196,-4000,18.8,7.45,8.4,755797,0.30,48
2,2,Asia,Afghanistan,1965,9956320,2.05,191869,-4000,18.4,7.45,9.9,984350,0.30,48
3,3,Asia,Afghanistan,1970,11173642,2.33,243464,-4000,17.9,7.45,11.6,1295433,0.30,48
4,4,Asia,Afghanistan,1975,12689160,2.58,303104,-4000,17.3,7.45,13.5,1717422,0.31,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4225,4225,Africa,Zimbabwe,2016,14030331,1.56,215702,-116858,18.5,3.99,37.2,5215894,0.19,74
4226,4226,Africa,Zimbabwe,2017,14236595,1.47,206264,-116858,18.5,3.99,37.4,5328766,0.19,74
4227,4227,Africa,Zimbabwe,2018,14438802,1.42,202207,-116858,18.5,3.99,37.7,5447513,0.19,74
4228,4228,Africa,Zimbabwe,2019,14645468,1.43,206666,-116858,18.5,3.99,38.0,5571525,0.19,74
4229,4229,Africa,Zimbabwe,2020,14862924,1.48,217456,-116858,18.7,3.63,38.4,5700460,0.19,74

In [3]:
data_base

,Unnamed: 0,Continent,Country,Year,Population,Yearly%Change,YearlyChange,Migrants(net),MedianAge,FertilityRate,UrbanPop%,UrbanPopulation,Country%OfWorldPop,GlobalRank
0,0,Asia,Afghanistan,1955,8270991,1.30,103775,-4000,19.2,7.45,7.1,587818,0.30,48
1,1,Asia,Afghanistan,1960,8996973,1.70,145196,-4000,18.8,7.45,8.4,755797,0.30,48
2,2,Asia,Afghanistan,1965,9956320,2.05,191869,-4000,18.4,7.45,9.9,984350,0.30,48
3,3,Asia,Afghanistan,1970,11173642,2.33,243464,-4000,17.9,7.45,11.6,1295433,0.30,48
4,4,Asia,Afghanistan,1975,12689160,2.58,303104,-4000,17.3,7.45,13.5,1717422,0.31,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4225,4225,Africa,Zimbabwe,2016,14030331,1.56,215702,-116858,18.5,3.99,37.2,5215894,0.19,74
4226,4226,Africa,Zimbabwe,2017,14236595,1.47,206264,-116858,18.5,3.99,37.4,5328766,0.19,74
4227,4227,Africa,Zimbabwe,2018,14438802,1.42,202207,-116858,18.5,3.99,37.7,5447513,0.19,74
4228,4228,Africa,Zimbabwe,2019,14645468,1.43,206666,-116858,18.5,3.99,38.0,5571525,0.19,74
4229,4229,Africa,Zimbabwe,2020,14862924,1.48,217456,-116858,18.7,3.63,38.4,5700460,0.19,74

In [4]:
india = (data_base['Country'] == "Afghanistan")
india

0        True
1        True
2        True
3        True
4        True
        ...
4225    False
4226    False
4227    False
4228    False
4229    False
Name: Country, Length: 4230, dtype: bool